<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springmybatis.mappers.EmployeeMapper">

	<resultMap id="getEmployeeResult" type="com.springmybatis.beans.Employee">
		<result property="eId" column="EID" />
		<result property="eName" column="NAME" />
	</resultMap>
	<select id="getEmployee" parameterType="int" resultMap="getEmployeeResult">
		SELECT *
		FROM MYDB.EMPLOYEE E
		WHERE E.EID = #{eId}
	</select>

	<resultMap id="employeeResultSet" type="com.springmybatis.beans.Employee">
		<result property="eId" column="EID" />
		<result property="eName" column="ENAME" />
	</resultMap>
	<select id="getEmployeeDetails" resultMap="employeeResultSet" statementType="CALLABLE">
		{ CALL getEmployee(#{eId, mode=IN, jdbcType=BIGINT})}
	</select>

</mapper>